body {
    color: #FAFAF9;
    display: grid;
    place-items: center;
}

.card {
    width: 300px;
    height: 320px;
    color: #FAFAF9;
    margin: 50px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card-img {
    width: 100%;
    border-radius: 5px;
}

.card-tag {
    font-family: "Sora";
    font-weight:bold;
    color: #7C19EE;
    align-self: self-start;
    margin-top: 16px;
    margin-bottom: 5px;
    background-color: #F2EAFD;
    border-radius: 20px;
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px
}

.card-title {
    font-family: "Sora";
    font-size: 1.125rem;
    color: #20293A;
    font-weight: 600;
    align-self: self-start;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-content, .card-footer {
    font-family: "Sora";
    color: #394150;
    font-weight: 380;
    align-self: self-start;
}

.card-content {
    font-size: 0.875rem;
    margin-top: 0px;
}

.card-footer {
    font-size: 0.75rem;
    margin-top: 10px
}

.card-sep {
    border: 3;
    height: 2px;
    background-color: rgb(105, 163, 255);
    width: 112%;
    align-self: center;
    margin-left: -20px;
    margin-bottom: 0;
}